:root {
  --color-dark: rgb(43, 43, 43);
  --color-light: #ffffff;
  --color-gray: rgb(118, 118, 118);
  --color-accent: rgb(126, 185, 66);
  --color-yellow: #ffb400;
  --border: 3px solid rgb(240, 240, 246);
  --height-absolute: 20px;
  --color-fill: #2b2b2b;

  --font-family-base: "Inter-regular", sans-serif;
  --font-family-med: "Inter__medium", sans-serif;
  --font-family-bold: "Inter-bold", "sans-serif";
  --padding: 60px;
  --heightImage: 610px;

  --transition-duration: 0.2s;
}
